  .navbar-wrapper {
  width: 86%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #050505;
}

.nav-links {
  display: flex;
  gap: 45px;
  font-size: 18px;
}

.nav-links a:hover {
  color: #e60000;
}

.cart-button {
  background: transparent;
  color: #050505;
  font-size: 17px;
  font-weight: 700;
}

.cart-button:hover {
  color: #e60000;
}

@media (max-width: 800px) {
  .navbar-wrapper {
    width: 90%;
  }

  .navbar {
    height: auto;
    padding: 25px 0;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    gap: 22px;
    flex-wrap: wrap;
    font-size: 16px;
  }
}
